.chatbox {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}
.chatbox__header {
  display: flex;
  align-items: center;
  height: 10%;
  background-color: #ededed;
  border-left: 0.5px solid rgba(128, 128, 128, 0.425);
}
.chatbox__header--dp {
  margin: 0 20px 0 15px;
}
.chatbox__header--info {
  flex: 1;
}
.chatbox__header--icons {
  margin: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10%;
  color: gray;
}
.chatbox__main {
  flex: 1;
  background-image: url("/whatsapp-bg.png");
  background-position: center;
  background-repeat: repeat;
  overflow: scroll;
}
.chatbox__main--chat {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 5px;
  margin: 10px 0 10px 15px;
  border-radius: 6px;
}
.chatbox__main--chat > h4 {
  font-size: 0.6rem;
}
.chatbox__main--chat > span {
  font-size: 0.55rem;
  margin-left: auto;
}
.chatbox__main--chat-received {
  background-color: #dcf8c6;
  margin: 10px 15px 10px auto;
}
.chatbox__footer {
  display: flex;
  height: 10%;
  background-color: #ededed;
  align-items: center;
  color: gray;
}
.chatbox__footer--icon1 {
  margin: 0 20px 0 15px;
}
.chatbox__footer--input {
  flex: 1;
}
.chatbox__footer--input > input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 1.05rem;
  border-radius: 25px;
}
.chatbox__footer--icon2 {
  margin: 0 20px 0 15px;
}
