* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dadbd3;
  font-family: "Open Sans", sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #888; */
}
